<!--
 * @Author: loserjohn
 * @Date: 2022-03-01 23:51:18
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-03-20 16:05:32
 * @Description: ---
 * @FilePath: \vue3admin\src\components\Screenfull\index.vue
-->
<template>
  <div class="langBox">
    <svg-icon :icon-class="isFullscreen ? 'exit-fullscreen' : 'fullscreen'" @click="click"  class-name="international-icon" />
  </div>
</template>

<script  setup>

import {
  computed, getCurrentInstance, ref, onMounted, onUnmounted
} from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import screenfull from 'screenfull'
const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute() // this.$route
const store = useStore()

const isFullscreen = ref(false)

onMounted(() => {
  init()
})
onUnmounted(() => {
  destroy()
})
const click = () => {
  if (!screenfull.isEnabled) {
    app.$message({
      message: 'you browser can not work',
      type: 'warning'
    })
    return false
  }
  screenfull.toggle()
}

const init = () => {
  if (screenfull.isEnabled) {
    screenfull.on('change', change)
  }
}
const destroy = () => {
  if (screenfull.isEnabled) {
    screenfull.off('change', change)
  }
}
const change = () => {
  isFullscreen.value = screenfull.isFullscreen
  console.log(screenfull.isFullscreen)
}

</script>

<style lang="scss" scoped>
  .langBox{
   width: 50px;
   height: 50px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   &:hover{
     background: #f3f3f3;
   }
  .international-icon{
      font-size: 20px;
    }
}
</style>
