<!--
 * @Descripttion:
 * @version:
 * @Author: loserjohn
 * @Date: 2020-09-27 14:35:22
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-03-20 14:39:44
-->
<template>
  <div :class="{ 'has-logo': true }">
    <logo :collapse="!isCollapse" />
    <el-scrollbar class="scrollbar-wrapper">
      <el-menu
        :router="false"
        :background-color="variables.menuBg"
        :text-color="variables.menuText"
        :unique-opened="true"
        :collapse="!isCollapse"
        :collapse-transition="false"
        :active-text-color="variables.menuActiveText"

      >
        <!-- <template v-for="(item, index) in permission_routes " > -->
        <div v-for="(item, index) in permission_routes " :key="`${index}s`">
          <!-- 复合多级 -->
          <el-sub-menu :index="item.path" v-if="item.children && item.children.length > 1">
            <template #title>
              <el-icon>
                <svg-icon v-if="item.meta && item.meta.icon" :icon-class="item.meta.icon" />
              </el-icon>

              <span v-if="isCollapse">{{ item.meta ? item.meta.title : '' }}</span>
            </template>

            <el-menu-item
              :index="`${it.path}`"
              v-for="(it, ids) in item.children"
              :key="`sub${ids}`"
              @click="_nav(`${it.path}`)"
            >
              <el-icon>
                <svg-icon v-if="it.meta && it.meta.icon" :icon-class="it.meta.icon" />
              </el-icon>
              <template #title>{{ it.meta ? it.meta.title : '' }}</template>
            </el-menu-item>
          </el-sub-menu>

          <!-- //单独子级 -->
          <el-menu-item
            v-else
            :index="item.children[0].id"
            @click="_nav(item.path || '/dashboard')"
          >
            <el-icon>
              <svg-icon
                v-if="item.children[0] && item.children[0].meta.icon"
                :icon-class="item.children[0].meta.icon"
              />
            </el-icon>
            <template #title>
              <span>{{ item.children[0].meta ? item.children[0].meta.title : '---' }}</span>
            </template>
          </el-menu-item>
        </div>
      </el-menu>
    </el-scrollbar>
    <!-- <div class="secontMenusBox">{{ permission_routes.length }}</div> -->
  </div>
</template>

<script setup>
// import SidebarItem from './SidebarItem'
import variables from '@/styles/variables.scss'
import {
  computed, getCurrentInstance
} from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import Logo from './Logo'

const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute() // this.$route
const store = useStore()

const permission_routes = computed(() => {
  const routes = store.getters.permission_routes
  const res = se(routes)
  console.log('routes', routes)
  function se(data) {
    // 传入数组 返回数组
    const arr = []
    // debugger
    if (data.length) {
      // debugger
      data.map(it => {
        // const item = it.current
        const { hidden, children } = it
        // debugger
        if (!hidden) {
          if (children && children.length) {
            const l = se(children)
            it.children = l
          }
          arr.push(it)
        }
      })
      // debugger
    }
    return arr
  }
  console.log('finalRoute', res)
  return res
})

const isCollapse = computed(() => {
  return store.getters.sidebar.opened
})

const _nav = (url) => {
  if (!url.startsWith('/')) {
    url = `/${url}`
  }
  // debugger
  router.push(url)
  // debugger
}

// export default {
//   components: {
//     // SidebarItem,
//     Logo
//   },
//   created() {
//     console.log('permission_routes', this.permission_routes)
//   },
//   computed: {
//     ...mapGetters(['permission_routes', 'sidebar']),
//     activeMenu() {
//       const route = this.$route
//       const { meta, path } = route
//       // if set path, the sidebar will highlight the path you set
//       if (meta.activeMenu) {
//         return meta.activeMenu
//       }
//       return path
//     },
//     showLogo() {
//       return this.$store.state.settings.sidebarLogo
//     },
//     variables() {
//       return variables
//     },
//     isCollapse() {
//       return !this.sidebar.opened
//     }
//   },
//   methods: {
//     meunsSelect(e) {
//       console.log(e)
//     }
//   }
// }
</script>

<style scoped  lang="scss">
.secontMenusBox {
  color: #fff;
}
.scrollbar-wrapper{
  // padding-right: 0;
}
.el-menu{
  margin-right: 10px;
}
</style>
