<!--
 * @Author: loserjohn
 * @Date: 2022-03-20 14:55:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-03-20 15:59:46
 * @Description: ---
 * @FilePath: \vue3admin\src\components\LangSelect\index.vue
-->
<template>
  <el-dropdown
    trigger="click"
    class="international"
    @command="handleSetLanguage"
  >
    <div class="langBox">
      <svg-icon
        class-name="international-icon"
        icon-class="language"
      />
    </div>
     <template #dropdown>
      <el-dropdown-menu >
        <el-dropdown-item
          :disabled="language==='zh-cn'"
          command="zh-cn"
        >
          中文
        </el-dropdown-item>
        <el-dropdown-item
          :disabled="language==='en'"
          command="en"
        >
          English
        </el-dropdown-item>

      </el-dropdown-menu>
      </template>
  </el-dropdown>
</template>

<script setup>
import {
  computed, getCurrentInstance, ref
} from 'vue'
// import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { useI18n } from 'vue-i18n'

const store = useStore()
const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const i18n = useI18n()
const { t } = i18n

// console.log('i18n', i18n.locale.value)
const language = computed(() => {
  return store.getters.language
})

const handleSetLanguage = (lang) => {
  i18n.locale.value = lang

  store.dispatch('app/setLanguage', lang)

  app.$message({
    message: t('message.lang'),
    type: 'success'
  })
}
</script>
<style lang="scss" scoped>
.langBox{
   width: 50px;
   height: 50px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   &:hover{
     background: #f3f3f3;
   }
  .international-icon{
      font-size: 22px;
    }
}

</style>
