body {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f1 {
  flex: 1;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.helpBox {
  background-color: #fcf8e2;
  border-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  .helpBoxTitle {
    color: #da8b47;
    line-height: 30px;
  }
  .helpBoxTip {
    color: #75b7f4;
    font-size: 14px;
    line-height: 30px;
    float: right;
  }
  // font-size: 12px;
  p,
  span {
    padding: 0;
  }
}

// ::-webkit-scrollbar-track-piece {
//   background: #bcd7f5;
// }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  // background: #304156;
  background: #e0e0e0;
  border-radius: 20px;
}

.blockBtn {
  width: 100% !important;
}
.el-tabs--border-card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.el-timeline-item__node--normal {
  left: -1px;
  width: 12px;
  height: 12px;
}
.el-timeline-item__node--large {
  left: -10px;
  width: 30px;
  height: 30px;
}
.el-timeline-item__icon {
  color: #ffffff;
  font-size: 17px;
}

.modelComponents {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  .modelTitle {
    width: 100%;
    padding: 0 20px 40px 20px;
    margin: 0;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e4e4e4;
    background: #fbfbfb;
  }
  .modelBox {
    width: 100%;
    padding: 15px;
    flex: 1;
    overflow-y: scroll;

    .stepTitBox {
      background: #f1f1f1;
      margin-bottom: 6px;
      padding: 10px 20px;

      .title {
        padding: 0;
        font-size: 16px;
        font-weight: bolder;
        line-height: 32px;
      }
    }
  }
  .modelFooter {
    border-top: 1px solid #e4e4e4;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    background: #fbfbfb;
  }
}

.el-input.is-disabled .el-input__inner {
  background-color: #f5f7fa;
  border-color: #dfe4ed;
  color: #626263;
  cursor: not-allowed;
}
.el-table__row.warning-row {
  background: #fdfbee;
}

.cm_line_2 {
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /*要显示的行数*/
  -webkit-box-orient: vertical;
  font-size: 12px;
}
.el-tag--medium {
  padding-left: 10px !important;
  margin-right: 8px;
}
.cell .el-tag {
  margin-right: 8px;
}

.app_container {
  padding: 16px;
  // position: relative;
}
.app_container_header {
  margin-bottom: 16px;
  padding: 0 16px;
}
.app_container_search_box {
  margin-bottom: 16px;
  padding: 0 16px;
  margin-left: 20px;
  margin-right: 20px;
}
.inputsLabel {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
// .app_container_footer{
//   padding: 0 16px;
//   position: absolute;
//   left: 0;
//   right: 0;
//   // width: 100%;
//   bottom: 0;
//   z-index: 1;
// }
.searchBars {
  display: flex;
  align-items: center;
  // justify-content: flex-start;
}
.secontBox {
  transform: translate(190px, -60px) !important;
  /* margin-left: 10%; */
  /* left: 0 !important;
  height: 100%; */
}

.app_container_fixed {
  padding: 16px;
  padding-top: 80px;
}
.app_container_header_fixed {
  margin-bottom: 16px;
  padding: 0 16px;
  position: fixed;
  right: 16px;
  top: 100px;
  // left: 206px;
  z-index: 10;
  background: #fff;
  transition: all ease-in 0.3s;
}

.cellsAll {
  .cell {
    overflow: visible;
  }
}

//*******************收缩栏状态下************************
.hideSidebar .app_container_header_fixed {
  // left: 70px;
}
.hideSidebar .secontBox {
  transform: translate(54px, -60px) !important;
  /* margin-left: 10%; */
  /* left: 0 !important;
  height: 100%; */
}
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 100px;
}
.el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}
.el-upload-list__item-preview {
  width: 20px;
  height: 20px;
}

.el-table__row.warning-row {
  background: #fff5f5 !important;
}

.el-table__row.success-row {
  background: #f0f9eb !important;
}

.el-dialog__body {
  padding: 16px;
}

.el-scrollbar {
  overflow: hidden;
  position: relative;
  // height: calc(100vh - 50px);
}
.el-scrollbar__wrap {
  overflow: scroll;
  width: 110%;
  height: 100%;
}

.scrollbar-wrapper {
  // background: red;
  height: calc(100vh - 50px)!important;
}
