<!--
 * @Author: your name
 * @Date: 2022-03-01 23:50:41
 * @LastEditTime: 2022-03-08 23:38:05
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue3admin\src\components\Breadcrumb\index.vue
-->
<template>
  <el-breadcrumb class="app-breadcrumb" separator="/">
    <transition-group name="breadcrumb">
      <el-breadcrumb-item v-for="(item, index) in levelList.list" :key="item.path">
        <!-- {{levelList.length }} -->
        <span
          v-if="item.redirect === 'noRedirect' || index == levelList.length - 1"
          class="no-redirect"
        >
          {{ item.meta &&  item.meta.title }}
        </span>
        <a v-else @click.prevent="handleLink(item)">{{item.meta && item.meta.title }}</a>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script setup>
// import { generateTitle } from '@/utils/i18n'
// import pathToRegexp from 'path-to-regexp'

import { computed, getCurrentInstance, reactive, ref, watchEffect } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'

const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute() // this.$route
const store = useStore()

// const levelList = ref([])
const levelList = reactive({
  list: []
})
// watch(route,()=>{getBreadcrumb()})

const getBreadcrumb = () => {
  let matched = route.matched.filter((item) => item.meta && item.meta.title)

  // const first = matched[0]
  matched = [{ path: '/dashboard', meta: { title: '首页' }}].concat(matched)
  levelList.list = matched.filter(item => item.meta && item.meta.title && item.meta.breadcrumb !== false)
  console.log('matched', matched, levelList)
}
const handleLink = (item) => {
  const { redirect, path } = item
  if (redirect) {
    router.push(redirect)
    return
  }
  if (path === '/dashboard') router.push(path)
}

watchEffect(getBreadcrumb)

</script>

<style lang="scss" scoped>
.app-breadcrumb.el-breadcrumb {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 8px;

  .no-redirect {
    color: #97a8be;
    cursor: text;
  }
}
</style>
