<!--
 * @Descripttion:
 * @version:
 * @Author: loserjohn
 * @Date: 2020-09-27 14:35:22
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-03-20 18:14:26
-->
<template>
  <div class="dashboard-container">
       <el-dropdown @command="handleCommand">
          <div class="avatar-wrapper">
              <el-button>换肤</el-button>
          </div>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item command="light">light</el-dropdown-item>
              <el-dropdown-item command="dark">dark</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
        <div class="common-util">测试</div>
        <div class="icons">dfgs</div>
  </div>
</template>

<script setup>
import { validUsername } from '@/utils/validate'
import { useStore } from 'vuex'
import { ref, watch, computed, reactive, onMounted, inject, createApp, getCurrentInstance } from 'vue'
import { useRouter, useRoute } from 'vue-router'
const store = useStore()
const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute()// this.$route
const handleCommand = (commad) => {
  // store.commit('upDate', { themeType: commad })
  window.document.documentElement.setAttribute('data-theme', commad)
  // debugger
}
</script>

<style lang="scss" scoped>
    @import "@/styles/_handle.scss";
    .common-util {
        font-size: 18px;
        @include font_color("font_title");
        @include background_color("background_bg");
        @include border_color("border_color1");
    }
</style>
