<!--
 * @Author: your name
 * @Date: 2022-02-17 22:17:06
 * @LastEditTime: 2022-03-20 12:09:46
 * @LastEditors: loserjohn
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue3admin\src\views\Home.vue
-->
<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <el-button @click="_switch">中/英{{$t('message.hello')}}</el-button>
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script setup>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { ref, defineProps, getCurrentInstance } from 'vue'
import { useI18n } from 'vue-i18n'

const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const i18n = useI18n()
const { t } = i18n
const props = defineProps({

  locale: {
    type: Object,
    default: (e) => {
      return e
    }
  }
})
console.log('locale', i18n.locale.value, app)

const _switch = () => {
  const l = i18n.locale.value

  if (l == 'zh-ch') {
    i18n.locale.value = 'en'
  } else {
    i18n.locale.value = 'zh-ch'
  }
  app.$message.error(t('message.hello'))
}
</script>
