<!--
 * @Author: your name
 * @Date: 2022-03-08 10:09:20
 * @LastEditTime: 2022-03-20 15:58:03
 * @LastEditors: loserjohn
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue3admin\src\layout\components\Navbar.vue
-->
<template>
  <div>
    <div class="navbar">
      <Hamburger
        id="hamburger-container"
        :is-active="isCollapse"
        class="hamburger-container"
        @toggleClick="toggleSideBar"
      />
      <Breadcrumb id="breadcrumb-container" class="breadcrumb-container" />
      <div style="flex:1"></div>

      <Screenfull />
      <LangSelect id="Language"/>
      <div class="avatar-container">
        <el-dropdown @command="handleCommand">
          <div class="avatar-wrapper">
            <template v-if="avatar">
              <el-avatar :size="30" :src="avatar"></el-avatar>
            </template>
            <template v-else>
              <img src="/favicon.ico" class="user-avatar" />
            </template>
            <i class="el-icon-caret-bottom" />
            <span class="name">{{name || '欢迎使用'}}</span>
          </div>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item command="a">个人中心</el-dropdown-item>
              <el-dropdown-item command="b">账户信息</el-dropdown-item>
              <el-dropdown-item command="c">设置</el-dropdown-item>

              <el-dropdown-item command="d" @click="dialogVisible = true">退出账户</el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </div>

    </div>

    <el-dialog v-model="dialogVisible" title="退出账户" width="30%">
        <div>该操作将清除本地用户数据</div>
        <span>下次使用需要重新登录用户</span>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="logout">确认退出</el-button>
          </span>
        </template>
      </el-dialog>
  </div>
</template>

<script setup>
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
// import ErrorLog from '@/components/ErrorLog'
import Screenfull from '@/components/Screenfull'
// import SizeSelect from '@/components/SizeSelect'
import LangSelect from '@/components/LangSelect'
// import Search from '@/components/HeaderSearch'
// import msgTip from '@/components/msgTip'
import {
  computed, getCurrentInstance, ref
} from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'

const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute() // this.$route
const store = useStore()

const dialogVisible = ref(false)

const isCollapse = computed(() => {
  return store.getters.sidebar.opened
})

const avatar = computed(() => {
  return store.getters.avatar
})
const name = computed(() => {
  return store.getters.name
})

const toggleSideBar = () => {
  store.dispatch('app/toggleSideBar')
}

const logout = async() => {
  store.dispatch('tagsView/delAllVisitedViews')
  store.dispatch('tagsView/delAllCachedViews')
  await store.dispatch('user/logout')
  await store.dispatch('permission/reset')

  router.push(`/login`)
}
const handleCommand = () => {}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  // padding-right: 20rpx;
  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
    display: flex;
    display: -webkit-flex;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }
  }

  .avatar-container {
    margin-right: 20px;

    .avatar-wrapper {
      cursor: pointer;
      // margin-top: 5px;
      position: relative;
      display: flex;
      align-items: center;
      .name{
        margin-left: 10px;
        font-size: 18px;
        color: #333;
      }
      .user-avatar {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 10px;
      }

      .el-icon-caret-bottom {
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 25px;
        font-size: 12px;
      }
    }
  }
}
</style>
