<!--
 * @Author: your name
 * @Date: 2022-02-17 22:17:06
 * @LastEditTime: 2022-03-20 17:59:32
 * @LastEditors: loserjohn
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue3admin\src\App.vue
-->
<template>
  <el-config-provider
    :size="props.size"
    :zIndex="props.zIndex"
    :locale="props.locale"
  >
    <router-view />
  </el-config-provider>
</template>
<script setup>
// import SvgIcon from '@/components/SvgIcon'
import { ref, defineProps } from 'vue'
import zh from 'element-plus/lib/locale/lang/zh-cn'
const size = ref('meddle')

const props = defineProps({
  zIndex: {
    type: Number,
    default: 10
  },
  size: {
    type: String,
    default: 'default'
  },
  locale: {
    type: Object,
    default: (e) => {
      return e || zh
    }
  }
})
// const zIndex = ref(200)
// const locale = ref(zhCn)
</script>
<style lang="scss" >
 @import "@/styles/_handle.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.icons {
  // width: 40px;
  // height: 40px;
  color: red;
  font-size: 24px;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
