<template>
  <div class="login-container">
    <div class="panelBox">
      <div class="leftPanel">
        <img src="../../assets/logo.png" class="logo" alt="" />
        <h4>过江龙担保后台管理系统</h4>
      </div>
      <div class="rightPanel">
        <el-form
        ref="formRef"
          :model="loginForm"
          :rules="loginRules"
          class="login-form"
          auto-complete="on"
          label-position="left"
        >
          <div class="title-container">
            <h3 class="title">Welcome</h3>
            <!-- <lang-select class="set-language" /> -->
          </div>
          <p class="inputName">账号</p>
          <el-form-item prop="username">
            <span class="svg-container">
              <svg-icon icon-class="user" />
            </span>
            <el-input
            ref="usernameRef"
              v-model="loginForm.username"
              placeholder="请输入账户名称"
              name="username"
              type="text"
              tabindex="1"
              auto-complete="on"
            />
          </el-form-item>

          <p class="inputName">密码</p>
          <el-form-item prop="password">
            <span class="svg-container">
              <svg-icon icon-class="password" />
            </span>
            <el-input
            ref="passwordRef"
              :key="passwordType"
              v-model="loginForm.password"
              :type="passwordType"
              placeholder="请输入密码"
              name="password"
              tabindex="2"
              auto-complete="on"
              @keyup="checkCapslock"
              @blur="capsTooltip = false"
              @keyup.enter="handleLogin"
            />
            <span class="show-pwd" @click="showPwd">
              <svg-icon
                :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'"
              />
            </span>
          </el-form-item>

          <!-- <p class="inputName" v-if="needYzm">验证码</p>
          <el-form-item v-if="needYzm">
            <div style="display: flex">
              <span class="svg-container">
                <svg-icon icon-class="password" />
              </span>
              <el-input
                ref="code"
                v-model="loginForm.code"
                placeholder="请输入验证码"
                name="code"
                clearable
                type="number"
                tabindex="1"
                s
                auto-complete="on"
                style="flex: 1"
              />
              <el-button
                type="primary"
                :plain="true"
                size="mini"
                @click.prevent="getCode"
                :disabled="second > 0"
              >
                {{ second > 0 ? `(${second})s` : "发送验证码" }}
              </el-button>
            </div>
          </el-form-item> -->

          <el-button
            :loading="loading"
            type="primary"
            style="width: 100%; margin-bottom: 30px"
            @click.prevent="handleLogin"
          >
            登录
          </el-button>
        </el-form>
      </div>
    </div>

    <!-- <el-dialog title="登录" :visible="showDialog">
     登录
      <br />
      <br />
      <br />
      <social-sign />
    </el-dialog> -->
    <img
      src="https://gjlflsys.oss-cn-shanghai.aliyuncs.com/NewProject/product/2021-12-15/115908_bg.jpg"
      class="baseBg"
      alt=""
    />
  </div>
</template>

<script setup>
import { validUsername } from '@/utils/validate'
import { useStore } from 'vuex'
import { ref, watch, computed, reactive, onMounted, inject, createApp, getCurrentInstance } from 'vue'
import { useRouter, useRoute } from 'vue-router'
// import { ElMessage } from 'element-plus'
const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute()// this.$route
// const appContext = ctx.appContext

// console.log(router, route.query)
const validateUsername = (rule, value, callback) => {
  if (!validUsername(value)) {
    callback(new Error('请输入账户名称'))
  } else {
    callback()
  }
}
const validatePassword = (rule, value, callback) => {
  if (value.length < 6) {
    callback(new Error('请输入密码'))
  } else {
    callback()
  }
}

const loginForm = reactive({
  username: '18760424041',
  password: '123456',
  code: ''
})

const loginRules = reactive({
  username: [
    {
      required: true,
      trigger: 'blur',
      validator: validateUsername
    }
  ],
  password: [
    {
      required: true,
      trigger: 'blur',
      validator: validatePassword
    }
  ] })
const passwordType = ref('password')
const loading = ref(false)
const capsTooltip = ref(false)
const redirect = ref(route.query.redirect || '')
// const token = ref(undefined)
const systemKey = ref('CRM')
const needYzm = ref(false)
// const  second  = ref(0)

const store = useStore()

const formRef = ref(null)
const usernameRef = ref(null)
const passwordRef = ref(null)
onMounted(() => {
  if (loginForm.username === '') {
    usernameRef.value.focus()
  } else if (loginForm.password === '') {
    passwordRef.value.focus()
  }
})

const checkCapslock = ({ shiftKey, key } = {}) => {
  if (key && key.length === 1) {
    if (
      (shiftKey && key >= 'a' && key <= 'z') ||
          (!shiftKey && key >= 'A' && key <= 'Z')
    ) {
      capsTooltip.value = true
    } else {
      capsTooltip.value = false
    }
  }
  if (key === 'CapsLock' && capsTooltip.value === true) {
    capsTooltip.value = false
  }
}

const showPwd = () => {
  if (passwordType.value === 'password') {
    passwordType.value = ''
  } else {
    passwordType.value = 'password'
  }
  // this.$nextTick(() => {
  //   this.$refs.password.focus()
  // })
}

const handleLogin = () => {
  loginForm.systemKey = systemKey.value
  if (needYzm.value && !loginForm.code) {
    app.$message.error('请输入验证码')
    return
  }

  loading.value = true

  formRef.value.validate((valid) => {
    if (valid) {
      loading.value = true
      store.dispatch('user/login', loginForm)
        .then(() => {
          app.$message.success('登录成功')
          // ElMessage('this is a message.')
          router.push({
            path: redirect.value || '/dashboard'
          })
          loading.value = false
        })
        .catch((e) => {
          // debugger
          loading.value = false
          // debugger
          app.$message.error(e && e.message ? e.message : '登录失败')
          if (e && e.code === 12001) {
            needYzm.value = true
          }
        })
    } else {
      console.log('error submit!!')
      return false
    }
  })
}

</script>

<style lang="scss">
$bg: #fbfbfb;
$light_gray: #999999;
$cursor: #999;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input,
  .el-select {
    display: inline-block;
    height: 38px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 38px;
      caret-color: $cursor;
      background-color: #fbfbfb;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    // border: 1px solid rgba(255, 255, 255, 0.1);

    // background: rgba(0, 0, 0, 0.1);
    background: rgb(251, 251, 251);
    border-radius: 5px;
    color: #999;
  }
}
</style>
<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #cacdd6;
  overflow: hidden;
  // background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  position: relative;

  .baseBg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .panelBox {
    width: 840px;
    height: 480px;
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -410px;
    top: 50%;
    margin-top: -210px;

    .leftPanel {
      background: #fff;
      text-align: center;
      color: #fff;
      float: left;
      width: 420px;
      height: 480px;

      .logo {
        margin-top: 104px;
        width: 222px;
      }
    }

    .rightPanel {
      width: 420px;
      height: 480px;
      background-color: rgba(255, 255, 255, 0.8);
      float: right;

      .login-form {
        position: relative;
        width: 420px;
        height: 480px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px;

        .inputName {
          font-weight: 600;
          color: #434343;
          text-indent: 21px;
        }
      }
    }
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: #333;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }

    .set-language {
      color: #fff;
      position: absolute;
      top: 3px;
      font-size: 18px;
      right: 0px;
      cursor: pointer;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
</style>
