.layout {
    display: flex;
    flex-direction: column;
    border:1px solid #CCCCCC;
    padding: 0px;
    margin: 0px;
}

header {
    flex: 0 0 50px;
    border:1px solid #CCCCCC;
}
footer {
    flex: 0 0 80px;
    margin-top: 10px;
    border:1px solid #CCCCCC;
}

.layout-body {
    display: flex;
    flex: 1;
    margin-top: 10px;
}

.layout-content {
    flex: 1;
    margin-left: 10px;
    border:1px solid #CCCCCC;
}

.layout-left, .layout-right {
    flex: 0 0 150px;
    border:1px solid #CCCCCC;
}

.layout-right {
    margin-left: 10px;
}
