<template>
  <el-container class="container">
    <el-aside :width="sidebar.opened ? '196px' : '60px'" class="pageAside">
      <Sidebar class="sidebar-container" />
    </el-aside>
    <el-container>
      <el-header class="pageHeader" style="padding: 0;">
        <Navbar />
      </el-header>
      <el-main>
        <app-main />
      </el-main>
    </el-container>
  </el-container>
</template>

<script setup>
// import RightPanel from '@/components/RightPanel'
import {
  computed, getCurrentInstance
} from 'vue'
import { useRoute, useRouter } from 'vue-router'
// import ResizeMixin from './mixin/ResizeHandler'
import { useStore } from 'vuex'
import { AppMain, Navbar, Sidebar } from './components'

const { appContext } = getCurrentInstance()
const app = appContext.config.globalProperties
const router = useRouter() // ==>this.$router
const route = useRoute() // this.$route
const store = useStore()

const sidebar = computed(() => {
  return store.state.app.sidebar
})
const device = computed(() => {
  return store.state.app.device
})
const showSettings = computed(() => {
  return store.state.app.showSettings
})
const needTagsView = computed(() => {
  return store.state.app.needTagsView
})
const fixedHeader = computed(() => {
  return store.state.app.fixedHeader
})
const permission_routes = computed(() => {
  return store.getters.permission_routes
})

// console.log('permission_routes232323', permission_routes)

const handleClickOutside = () => {
  store.dispatch('app/closeSideBar', { withoutAnimation: false })
}
// export default {
//   name: 'Layout',
//   components: {
//     AppMain,
//     // Navbar,
//     // RightPanel,
//     // Settings,
//     Sidebar
//     // TagsView
//   },
//   mixins: [ResizeMixin],
//   computed: {
//     ...mapState({
//       sidebar: (state) => state.app.sidebar,
//       device: (state) => state.app.device,
//       showSettings: (state) => state.settings.showSettings,
//       needTagsView: (state) => state.settings.tagsView,
//       fixedHeader: (state) => state.settings.fixedHeader
//     }),
//     classObj() {
//       return {
//         hideSidebar: !this.sidebar.opened,
//         openSidebar: this.sidebar.opened,
//         withoutAnimation: this.sidebar.withoutAnimation,
//         mobile: this.device === 'mobile'
//       }
//     }
//   },
//   methods: {
//     handleClickOutside() {
//       this.$store.dispatch('app/closeSideBar', { withoutAnimation: false })
//     }
//   }
// }
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/variables.scss";

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;

  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 54px);
}

.mobile .fixed-header {
  width: 100%;
}

.pageAside {
  padding: 0;
  margin: 0;
  background-color: rgb(48, 65, 86);
}
.pageHeader {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
</style>
